$theme-bg-light: #ffffff;
$theme-color-light: #464646;
$theme-bg-dark: #464646;
$theme-color-dark: #ffffff;

.display-5 {
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 1.2;

	small {
		font-style: italic;
		font-size: 60%;
		color: rgba(0, 0, 0, 0.6);
	}

	a {
		color: rgba(0, 0, 0, 0.8);

		&:hover {
			text-decoration: none;
			color: rgba(0, 0, 0, 0.4);
		}
	}
}

.row {
	&.even {
		background-color: $theme-bg-light;
		color: $theme-color-light;
	}
	&.odd {
		background-color: $theme-bg-dark;
		color: $theme-color-dark;
	}
}

.section-content {
	padding: 50px 0;
}

.project {
	margin: 10px 0;

	.project-link {
		i {
			margin-right: 5px;
			display: inline-block;
		}
	}

	.project-image {
		width: 100%;
	}

	.right-col {
		padding-left: 0;

		.image-wrapper {
			width: 100%;
			overflow: hidden;
			text-align: center;
			border-top-right-radius: .25rem;
			border-bottom-right-radius: .25rem;
		}
	}
}
